body{
    font-family: "Montserrat";
    text-align: left;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Montserrat";
}

#title{
    background-color: #ff4c68;
    color: #fff;
}

/* Nav Bar */

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-weight: light;
}

.intro{
    padding: 7% 15%;
}

/* Features */

#features{
    background-color: #ef8172;
    color: #fff;
}

.features-item{
    padding: 0% 7%;
}

.item-features{
    padding: 4.5%;
}

.feature-head{
    font-size: 1.5rem;
    text-decoration: underline;
}

/* Mass Body */
.mass-body{
    padding: 7% 15%;
}

.massbody-para{
    color: #8f8f8f;
}

.da-7{
    width: 400px;
}

.da-6{
    width: 400px;
    height: 250px;
}

.profit-items{
    padding-top: 5%;
}

.profit{
    padding: 0% 7%;
}

.sol{
    color: #000;
    font-size: 1rem;
}

.da-5{
    width: 600px;
}

/* aggregate profit */

.agg-profit{
    padding-top: 4%;
}

/* Get In Touch Section Styles */
#git {
    background-color: #ef8172;
    color: #fff;
    padding: 2% 2%;
    text-align: center;
}

.git-description,
.git-body {
    margin: 0 20px;
}

/* Footer Section Styles */
#footer {
    color: #fff;
    background-color: #ff4c68;
}

.footer-item{
    text-align: left;
}
.copy-right {
    margin-bottom: 0;
    text-align: center;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.social-icon2,
.social-icon {
    margin: 0 1rem;
    color: #fff;
}

.social-icon:hover {
    color: #8f8f8f;
}

/* Media Query for Small Screens */
@media (max-width: 1028px) {
    .about-para,
    .nav-link {
        text-align: left;
    }

    #footer .footer-item {
        text-align: center;
        padding: 2%;
    }

    .social {
        justify-content: center;
    }

    .da-5,
    .da-6,
    .da-7{
        width: 400px;
    }
}
