/* General Styles */
body {
    font-family: "Montserrat";
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat";
    font-weight: bold;
}

.container-fluid {
    padding: 2% 10%;
}

/* Heading Styles */
h1 {
    font-size: 3.5rem;
    line-height: 1.5;
}

h2 {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: lighter;
}

/* Navigation Styles */
.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: "Montserrat";
    font-size: 1.2rem;
    font-weight: light;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

/* Title Styles */
#title {
    background-color: #ff4c68;
    color: #fff;
}

.title-image {
    width: 75%;
}

.title-img {
    display: flex;
    justify-content: center;
}

.about-para {
    text-align: left;
}

/* Features Section Styles */
#features {
    padding: 7% 7%;
}

.feature-img2 {
    color: #ef8172;
}

.feature-img2:hover {
    color: #ff4c68;
}

.feature-head {
    font-size: 1.5rem;
    font-weight: bold;
}

.feature-description {
    color: #8f8f8f;
    padding: 2px 25px 2px 25px;
}

/* Portfolio Section Styles */
#portfolio {
    background-color: #ef8172;
    color: #fff;
}

.portfolio-image {
    width: 50%;
    margin: 20px;
}

.portfolio-description {
    padding: 7% 15%;
}

/* Hire Me Section Styles */
#hire {
    padding: 7% 7%;
}

.hire-description,
.hire-body {
    margin: 0 20px;
}

.hire-body {
    color: #8f8f8f;
    padding: 2% 10%;
}

/* Get In Touch Section Styles */
#git {
    background-color: #ef8172;
    color: #fff;
    padding: 2% 2%;
}

.git-description,
.git-body {
    margin: 0 20px;
}

.git-body {
    padding: 2% 10%;
}

/* Footer Section Styles */
#footer {
    color: #fff;
    background-color: #ff4c68;
}

.footer-item{
    text-align: left;
}
.copy-right {
    margin-bottom: 0;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.social-icon2,
.social-icon {
    margin: 0 1rem;
    color: #fff;
}

.social-icon:hover {
    color: #8f8f8f;
}

/* Media Query for Small Screens */
@media (max-width: 1028px) {
    .about-para,
    .nav-link {
        text-align: left;
    }

    #footer .footer-item {
        text-align: center;
    }

    .social {
        justify-content: center;
    }
}
